
.wrapper {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.container {
  width: 92.15686%;
  height: auto;
  padding-right: 3.9216%;
  padding-left: 3.9216%;
}

/*STYLES FOR HEADER*/
header {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

a {
  text-decoration: none ;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
 }

.logo {
  text-transform: uppercase;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  width: 120px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0px;
}


.logo-white-color {
  color: #ffffff;
}

.logo-red-color {
  color: #f06c64;
}

nav {
  text-transform: uppercase;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  width: 372px;
  padding-top: 43px;
  padding-bottom: 32px;
  margin: 0px;
}


ul {
  padding-inline-start: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
}


ul li a {
  color:  #ffffff;
}

ul li a:hover {
  color:  #f06c64;
}

ul li:not(.home):before  {
  margin-right: 13px;
  content:"·";
  font-size:12px;
  color: #494E62;
}

/*STYLES FOR SLIDER*/

.slider {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.container-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chev-left {
  padding: 281px 54px 286px 0px;
}

.iphone-vertical {
  padding: 53px 73px 58px 0px;
}
  
.iphone-horizontal {
  padding: 174px 55px 180px 0px;
}
 
.chev-right {
  padding: 281px 0px 286px 0px;
}

.chev-right:hover, .chev-left:hover {
  cursor: pointer;
  filter: saturate(0);
  }


/*STYLES FOR OUR SERVICES*/

.our-services {
  background-color:  #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.annotation {
  margin-top: 68px;
  margin-bottom: 22px;
}

.annotation h2 {
  font-family: "Lato";
  font-weight: 900;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
}

.annotation p {
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  padding-top: 2px;
}

.services {
  display: grid;
  grid-template-columns: 320px 320px 300px;
  grid-template-rows: 123px 123px;
}
.service {
  display: flex;
  align-items: center;
}

.service img {
  align-self:start;
  padding-top: 25px;
  padding-left: 1px;
}

.service-text {
  padding-left: 20px;
  padding-right: 10px;
}

.service-text h3 {
  font-family: "Lato";
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  padding-top: 14px;
  margin-bottom: 0px;
}

.service-text  p {
  width: 220px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  text-align: justify;						 
	text-align-last: left;   
  margin-top: 10px;
}