* {
  font-family: "Lato";
}

.wrapper {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.container {
  width: 92.15686%;
  height: auto;
  padding-right: 3.9216%;
  padding-left: 3.9216%;
}

/*STYLES FOR PORTFOLIO BLOCK*/

.portfolio {
  background-color: #2d303a;
  background-size: cover;
  border-bottom: 6px solid #323746;
}

.portfolio h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
  color: #666d89;
  margin: 0;
}

.portfolio p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
}

.portfolio-menu {
  list-style-type: none;
  display: flex;
  width: 287px;
  justify-content: space-between;
  padding-left: 0px;
}

.portfolio-menu li {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.portfolio-menu li a {
  color: #dedede;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  border: 1px solid #666d89;
  border-radius: 5px;
}

.portfolio-menu li a:hover {
 opacity: 0.5;
}

.portfolio-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 601px;
  gap: 20px;
  overflow: hidden;
}
 